<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.suivisantmentale">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SuiviSantéMentale"
        tools:targetApi="31">

        <!-- MainActivity : point d'entrée de l'application -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- EntriesActivity : activité pour voir les entrées du journal -->
        <activity
            android:name=".EntriesActivity"
            android:exported="true" />

        <!-- SolutionsActivity : activité qui affiche des solutions basées sur l'humeur -->
        <activity
            android:name=".SolutionsActivity"
            android:exported="true" /> <!-- Définie comme accessible depuis l'application -->

    </application>

</manifest>
